<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplication Table Quiz</title>
</head>
<body>
    <h1>What is {{ num1 }} x {{ num2 }}?</h1>
    <form id="quizForm" action="/quiz" method="post" onsubmit="return validateAnswer()">
        <input type="number" name="user_answer" value="{{ user_answer }}" required>
        <input type="hidden" name="actual_answer" value="{{ answer }}">
        <input type="submit" id="checkAnswerButton" value="Check Answer" {% if disable_button %}disabled{% endif %}>
    </form>

    {% if submitted_answer %}
        {% if is_correct is not none %}
            {% if is_correct %}
            <p style="color: green;">Correct! Your score: {{ score['correct'] }}</p>
            {% else %}
            <p style="color: red;">Incorrect. The correct answer is {{ answer }}. Your score: {{ score.get('correct', 0) }}</p>
            {% endif %}
            <button id="nextButton" onclick="window.location.href='/next'" style="display: block;">Next</button>
        {% endif %}
    {% endif %}

    <script>
        // Wait for the DOM to be ready
        document.addEventListener('DOMContentLoaded', function() {
            // Select the input element by its name
            var inputElement = document.getElementsByName('user_answer')[0];

            // Set focus on the input element
            if (inputElement) {
                inputElement.focus();
            }
        });
    </script>
</body>
</html>
